/*
* @Author: glasses
* @Date:   2018-04-29 18:02:35
* @Last Modified by:   glasses
* @Last Modified time: 2018-04-29 18:17:22
*/
* {
	margin: 0;
	padding: 0;
}
header {
	width: 100px;
	height: 620px;
	background: rgba(130, 210, 210, 0.7);
	color: white;
	text-align: center;
}
header,main{
	float: left;
}
h1 {
	margin-top: 20px;
}
main {
	margin-left: 20px;
}
section,ul {
	margin: 10px 0;
}
li {
	list-style: none;
	float: left;
}
.ul-div {
	margin-right: 30px;
}
h4 {
	display: inline-block;
}
.item {
	margin-top: 10px;
}